<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{% block title %}WAZE AFRICA | Elite Pro{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- SDK Firebase Compat -->
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore-compat.js"></script>

    <script>
        // Configuration Firebase
        const firebaseConfig = {
            apiKey: "{{ config['FIREBASE_API_KEY'] }}",
            authDomain: "{{ config['FIREBASE_AUTH_DOMAIN'] }}",
            projectId: "{{ config['FIREBASE_PROJECT_ID'] }}",
            storageBucket: "{{ config['FIREBASE_STORAGE_BUCKET'] }}",
            messagingSenderId: "{{ config['FIREBASE_MESSAGING_SENDER_ID'] }}",
            appId: "{{ config['FIREBASE_APP_ID'] }}"
        };
    </script>

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <div id="snackbar">Waze Elite...</div>

    {% block scripts %}{% endblock %}
</body>
</html>
